<a href="https://colab.research.google.com/github/zeldaskywalker/more-than-surviving/blob/main/MTS_Database_Updates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Updating the data for *More Than Surviving*?
Run the cells below to:
*   Read from the [MTS DATA Google Sheets](https://docs.google.com/spreadsheets/d/13218nOeyelW-m17VxqQnZzEiPUGoGa6yV4warHTiDa0/edit#gid=1606359324)
*   Convert sheets tables to Pandas Dataframes
*   Connect to our Postgresql Database
*   Pass in the data types for our table
*   Write the Dataframe to the relevant Postgresql database table, with columns matching the provided data types

The table data from the [MTS DATA Google Sheets](https://docs.google.com/spreadsheets/d/**13218nOeyelW**-m17VxqQnZzEiPUGoGa6yV4warHTiDa0/edit#gid=1606359324) will replace the existing database table, in order to add, update, or delete any data.

In [127]:
#@title Set-up

# Database imports
import pandas
import psycopg2

import sqlalchemy
from sqlalchemy.types import DATE, ARRAY, JSON, VARCHAR, DECIMAL, BOOLEAN

from sqlalchemy import create_engine

# Google Sheets imports
import gspread
from google.auth import default
from google.colab import auth

## Read [MTS DATA Google Sheets](https://docs.google.com/spreadsheets/d/13218nOeyelW-m17VxqQnZzEiPUGoGa6yV4warHTiDa0/edit#gid=1606359324) Data

In [128]:
def google_sheets_table_to_dataframe(sheet_table_name):
  # authenticating to google
  auth.authenticate_user()
  creds, _ = default()
  gc = gspread.authorize(creds)

  # defining worksheet
  spreadsheet = gc.open('MTS DATA')

  # specifying with sheet to use
  sheet_table_name.lower()
  if sheet_table_name == 'activists':
    worksheet = spreadsheet.worksheet("ACTIVISTS")
  elif sheet_table_name == 'events':
    worksheet = spreadsheet.worksheet("EVENTS")
  elif sheet_table_name == 'images':
    worksheet = spreadsheet.worksheet("IMAGES")
  else:
    raise ValueError

  # get_all_values gives a list of all rows
  rows = worksheet.get_all_values()

  # converting rows to a DataFrame 
  sheet_df = pandas.DataFrame(rows)

  # creating columns name
  sheet_df.columns = sheet_df.iloc[0]
  sheet_df = sheet_df.iloc[1:]
  sheet_df = sheet_df.drop(index=[1, 2]).reset_index(drop=True)

  # return dataframe
  return sheet_df

In [129]:
#@title Create dataframes for each sheet that represents a table in the database

activists_df = google_sheets_table_to_dataframe("activists")
events_df = google_sheets_table_to_dataframe("events")
images_df = google_sheets_table_to_dataframe("images")

## Connect to our Postgresql database

In [130]:
engine = create_engine("postgresql://ejmikljk:4do3hjsLVSeFVuSJ0Mxnj7XsH4k9j9Vf@baasu.db.elephantsql.com/ejmikljk")

## Pass in data types for each tables' columns

In [131]:
activist_data_types = {'activist_id': VARCHAR(),
                       'name': VARCHAR(),
                       'event_ids': JSON(),
                       'image_ids': JSON(),
                       'tribal_affiliaton': JSON(),
                       'date_of_birth': DATE(),
                       'date_of_birth_accuracy': VARCHAR(),
                       'latitude_of_birth': DECIMAL(),
                       'longitude_of_death': DECIMAL(),
                       'date_of_death': DATE(),
                       'date_of_death_accuracy': VARCHAR(),
                       'short_bio': VARCHAR(),
                       'long_bio': VARCHAR(),
                       'citations': VARCHAR()}

In [132]:
event_data_types = {'event_id': VARCHAR(),
                    'title': VARCHAR(),
                    'map': BOOLEAN(),
                    'related_event_ids': JSON(),
                    'image_ids': JSON(),
                    'activist_ids': JSON(),
                    'issue_types': JSON(),
                    'start_date': DATE(),
                    'start_date_accuracy': VARCHAR(),
                    'end_date': DATE(),
                    'end_date_accuracy': VARCHAR(),
                    'short_description': VARCHAR(),
                    'long_description': VARCHAR(),
                    'citations': VARCHAR(),
                    'location_names': JSON(),
                    'location_data': JSON()}

In [133]:
image_data_types = {'image_id': VARCHAR(),
                    'header_url': VARCHAR(),
                    'timeline_url': VARCHAR(),
                    'alt_text': VARCHAR(),
                    'caption': VARCHAR(),
                    'credit': VARCHAR()}

## Write dataframes to Postgresql database

In [134]:
def write_dataframe_to_database(sheets_df, table, connection, data_types):
  sheets_df.to_sql(table, connection, if_exists='replace', index=False, dtype=data_types)

In [135]:
#@title Write activists data

write_dataframe_to_database(activists_df.iloc[:, 1:],
                            'activists',
                            engine,
                            activist_data_types)

In [136]:
#@title Write events data
events_df = events_df.astype({"map": bool})
write_dataframe_to_database(events_df.iloc[:, 1:],
                            'events',
                            engine,
                            event_data_types)

In [137]:
#@title Write images data

write_dataframe_to_database(images_df.iloc[:, 1:],
                            'images',
                            engine,
                            image_data_types)

## Cleanup

In [138]:
engine.dispose()